
                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">New Transfer</div>
                        <div class="innerdivContainer red-icon create-employee responsive_padding0">
                            <form class="form-horizontal formContainer">
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Leads From<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="inputClass">
                                                <option value="bangalore">Murugesan</option>
                                                <option value="bangalore">Risvi Sagar</option>
                                                <option value="bangalore">Dinesh</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Leads To<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="inputClass">
                                                <option value="bangalore">Murugesan</option>
                                                <option value="bangalore">Risvi Sagar</option>
                                                <option value="bangalore">Dinesh</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mob-pos-rel last-child-button">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Lead Date
                                        <span class="reqStar">*</span> </label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <input type="text" class="inputClass" />
                                    </div>
                                    <span class="input-group-btn mob-pos-abs select-button">
                                         <button type="button" class="btn btn-default mrgTop5 addIcon"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                </div>
                                <div class="formfooterbtns">
                                    <a href="../templates/dashboard.html">
                                        <button class="defaultBtn" type="button">Decline</button>
                                    </a>
                                    <a href="../templates/dashboard.html">
                                        <button class="activeBtn" type="button">Transfer Lead</button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
          