<div class="loader_backdrop" ng-show="hrRequestControllerScope.spinner || hrRequestControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">HR Requests</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100">
                                        <div class="customDropDown col-lg-6 col-md-6 col-sm-6 col-xs-8 padd0 responsive_select">
                                            <select name="type" class="select1 dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" ng-model="hrRequestControllerScope.status">
                                                <option value="" selected="selected">Select Status</option>
                                                <option value="" >All</option>
                                                <option value="c" >Closed</option>
                                                <option value="s" >Submitted</option>
                                                <option value="o" >Re-Open</option>
                                                <option value="r" >Reject</option>
                                            </select>
                                        </div>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-4 padd0 text-right">
                                        	<button class="glyphicon glyphicon-export action_btn" ng-click="hrRequestControllerScope.exportData()"></button>
                                        </span>
                                    </div>
                                    <div class="width100 ">
                                        <input type="text" ng-model="hrRequestControllerScope.search" ng-keyup="hrRequestControllerScope.checkEmptyList()" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="hrRequestControllerScope.msg != ''">
                            <p class="text-center grey_text padding15 padding_top0">{{hrRequestControllerScope.msg}}</p>
                        </div>
                        
                        <div id="list-wrapper" ng-if="hrRequestControllerScope.msg == '' && !hrRequestControllerScope.isAcceptRequest">
                            <div infinite-scroll="hrRequestControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1"  ng-repeat="request in hrRequestControllerScope.hrRequestList | orderBy:'-id' | filter :  hrRequestControllerScope.search | filter: {status : hrRequestControllerScope.status} | limitTo : hrRequestControllerScope.limitToShow">
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="col-lg-1 padd0 responsive_textCenter margin_bottom15 responsive_textCenter responsivemargin_top10">
                                                <i class="fa fa-user-circle-o img-60x60 img-views" aria-hidden="true"></i>
                                            </div>
                                            <div class="responsive_textCenter display_webkit">
                                                <span class="anchor_text break-word capitalizeText" ng-click="hrRequestControllerScope.gotoViewRequest(request.id)">{{request.typeName}}</span>
                                                <span class="pipe_text" ng-if="request.status!=''">|</span>
                                                <span class="span_text capitalizeText color_white" ng-if="request.status!=''">
		                                        	<span ng-if="request.status == 's'" class="label_warning">Submitted</span>
		                                        	<span ng-if="request.status == 'c'" class="label_success">Closed</span>
		                                        	<span ng-if="request.status == 'o'" class="label_blue">Re-Open</span>
		                                        	<span ng-if="request.status == 'r'" class="label_danger">Rejected</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Request By</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{request.createdBy}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Request Details</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{request.desc}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text margin-bottom0">
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Request On</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{request.updatedon}}</span></li>
                                                            <li class="row">
                                                                <label class="col-xs-6 padd0">Comment</label> <span class="font_weight600 col-xs-6 wordBreak_all">{{request.comment}}</span></li>
                                                           </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            