  <div class="loader_backdrop" ng-if="mailBoxControllerScope.spinner">
                            <div class="loader loader_position"></div>
                        </div>
    
                    <div class="rightContainer">
                        <div class="">
                            
                            <div class="red-icon create-employee">
                                <div class="row">
                                    <div class="input_section text-center">
	                                   	<div class="inbox_background">
	                                   		<div class="row inbox_padd5 inbox_border1 cursor_pointer">
	                                   			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left display_inlineFlex">
	                                   				<div class="inbox_check">
														<input type="checkbox" class="parentCheckBox" >
														<label class="cursor_defaualt"> Check All</label>
													</div>
													<span><i class="fa fa-refresh inbox_refreshIcon" aria-hidden="true"></i></span>
	                                   			</div>
	                                   			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
	                                   				<div>
	                                   					<span class="line_height24">1 - 50 of 600</span>
	                                   					<span><i class="fa fa-angle-left inbox_pageIcon border_right1" aria-hidden="true"></i></span>
	                                   					<span><i class="fa fa-angle-right inbox_pageIcon margin_leftminus3" aria-hidden="true"></i></span>
	                                   				</div>
	                                   			</div>
	                                   			
	                                   		</div>
	                                   		<div class="row text-left inbox_padd5 inbox_border1 cursor_pointer">
	                                   			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	                                   				<div class="inbox_check">
														<input type="checkbox" class="parentCheckBox" >
														<label class="cursor_defaualt"> Subject</label>
													</div>
	                                   			</div>
	                                   			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
	                                   				<p class="line_height24 inbox_wordWrap margin0">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
	                                   			</div>
	                                   			<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 inbox_paddLeft0 text-right">
	                                   			<span class="inbox_padd15"><i class="fa fa-paperclip" aria-hidden="true"></i></span><span class="line_height24 text-right">12/12/2174</span>
	                                   			</div>
	                                   		</div>
	                                   		<div class="row text-left inbox_padd5 inbox_border1 cursor_pointer">
	                                   			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	                                   				<div class="inbox_check">
														<input type="checkbox" class="parentCheckBox" >
														<label class="cursor_defaualt"> Subject</label>
													</div>
	                                   			</div>
	                                   			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
	                                   				<p class="line_height24 inbox_wordWrap margin0">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
	                                   			</div>
	                                   			<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 inbox_paddLeft0 text-right">
	                                   			<span class="inbox_padd15"><i class="fa fa-paperclip" aria-hidden="true"></i></span><span class="line_height24 text-right">12/12/2174</span>
	                                   			</div>
	                                   		</div>
	                                   		<div class="row text-left inbox_padd5 inbox_border1 cursor_pointer">
	                                   			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	                                   				<div class="inbox_check">
														<input type="checkbox" class="parentCheckBox" >
														<label class="cursor_defaualt"> Subject</label>
													</div>
	                                   			</div>
	                                   			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
	                                   				<p class="line_height24 inbox_wordWrap margin0">ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
	                                   			</div>
	                                   			<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12 inbox_paddLeft0 text-right">
	                                   			<span class="inbox_padd15"><i class="fa fa-paperclip" aria-hidden="true"></i></span><span class="line_height24 text-right">12/12/2174</span>
	                                   			</div>
	                                   		</div>
	                                   	</div>
                                   
                                   
                                	</div>
                            	</div>  
                             </div>
                          </div>
                      </div>
                      
                       <div class="rightContainer">
                        <div class="">
                            
                            <div class="red-icon create-employee">
                                <div class="row">
                                    <div class="input_section text-center">
	                                   	<div class="inbox_background">
	                                   		<div class="row inbox_padd5 inbox_border1 cursor_pointer">
	                                   			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left display_inlineFlex">
	                                   				<div class="">
														<span><i class="fa fa-reply inbox_refreshIcon margin0" aria-hidden="true"></i></span>
														<span><i class="fa fa-trash inbox_refreshIcon" aria-hidden="true"></i></span>
													</div>
													<span><i class="fa fa-refresh inbox_refreshIcon" aria-hidden="true"></i></span>
	                                   			</div>
	                                   			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
	                                   				<div>
	                                   					<span class="line_height24">1 - 50 of 600</span>
	                                   					<span><i class="fa fa-angle-left inbox_pageIcon border_right1" aria-hidden="true"></i></span>
	                                   					<span><i class="fa fa-angle-right inbox_pageIcon margin_leftminus3" aria-hidden="true"></i></span>
	                                   				</div>
	                                   			</div>
	                                   			
	                                   		</div>
	                                   		<div class="row text-left">
	                                   			
	                                   			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inbox_border1">
	                                   				<p class="line_height24 font_weight600 margin0 inbox_padd10">sapta@saptalabs.com Subject</p>
	                                   			</div>
	                                   			<div class="row">
	                                   				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 inbox_mailPadd10">
	                                   					<span><i class="fa fa-user-circle inbox_userIcon" aria-hidden="true"></i></span>
	                                   					<span class="font_weight600 mail_padd">Sapta <span>< sapta@saptalabs.com ></span></span>
	                                   				</div>
	                                   				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right inbox_mailPadd10">
	                                   					<span class="line_height24">12/12/2017 (3 Hours Ago)</span>
	                                   				</div>
	                                   			</div>
	                                   		</div>
	                                   		<div class="inbox_textBack">
	                                   			<p class="">
															
														ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</p>
	                                   		</div>
	                                   		
	                                   	</div>
                                   
                                   
                                	</div>
                            	</div>  
                             </div>
                          </div>
                      </div>
                  
