<div class="loader_backdrop" ng-if="projectInvoiceControllerScope.spinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer paddLft15"><span ng-if="!projectInvoiceControllerScope.isUpdate">Poject Invoice Details</div>
                        <div class="innerdivContainer red-icon create-employee responsive_padding0 employee_placeholder">
                    		<p class="reqStar text-center" ng-if="projectInvoiceControllerScope.msg && projectInvoiceControllerScope.msg != ''">{{projectInvoiceControllerScope.msg}}</p>
                            <form class="form-horizontal formContainer employee_selectBox" name="projectInvoiceControllerScope.employeeForm">
                               
                                <div class="create-employee-inner">
                                   
                                <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Invoice Date</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15 margin_top5">
                                            <input type="text" name="startDate" class="inputClass" datepicker-popup="{{format}}" ng-click="projectInvoiceControllerScope.openInvoiceDateCalender($event)" ng-model="projectInvoiceControllerScope.assignment.InvoiceDate" is-open="projectInvoiceControllerScope.invoiceDateCalender" placeholder="Invoice Date" show-button-bar="false" />
                                            <p ng-if="projectInvoiceControllerScope.employeeForm.dateOfBirth.$invalid && projectInvoiceControllerScope.employeeForm.dateOfBirth.$touched" class="reqStar">Kindly Enter Valid Date</p>
                                        </div>
                                        <span class="mob-pos-abs select-button calen mob-right-18">
											<button type="button" class="btn btn-default mrgTop14 addIcon"
												ng-click="projectInvoiceControllerScope.openInvoiceDateCalender($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Due Date</label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="endDate" class="inputClass" datepicker-popup="{{format}}" ng-click="projectInvoiceControllerScope.openDueDateCalender($event)" ng-model="projectInvoiceControllerScope.assignment.dueDate" is-open="projectInvoiceControllerScope.dueDateCalender" placeholder="Due Date" show-button-bar="false" />
                                            <p ng-if="projectInvoiceControllerScope.employeeForm.dateOfBirth.$invalid && projectInvoiceControllerScope.employeeForm.dateOfBirth.$touched" class="reqStar">Kindly Enter Valid Date</p>
                                        </div>
                                        <span class="mob-pos-abs select-button calen mob-right-18">
											<button type="button" class="btn btn-default mrgTop5 addIcon"
												ng-click="projectInvoiceControllerScope.openDueDateCalender($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
                                    </div>
                                   <div class="row margin_top10">
                                        <div class="col-xs-12 padd0">
                                            <div class="panel panel-default margin_TB200">
                                                <div class="panel-body">
                                                    <form>
                                                        <table class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th><input type="checkbox" ng-model="selectedAll" ng-click="projectInvoiceControllerScope.checkAll()" /></th>
                                                                    <th>Id</th>
                                                                    <th>Name</th>
                                                                    <th>Type</th>
                                                                     <th>Category</th>
                                                                      <th>Units</th>
                                                                       <th>Quantity</th>
                                                                        <th>Price</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="orderDetail in orderDetails">
                                                                    <td>
                                                                        <input type="checkbox" ng-model="orderDetail.selected"/></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" placeholder="Id" ng-model="orderDetail.Id" required/></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" placeholder="Name" ng-model="orderDetail.name" required/></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" placeholder="Type" ng-model="orderDetail.Type" required/></td>
                                                                         <td>
                                                                        <input type="text" class="form-control" placeholder="Category" ng-model="orderDetail.Category" required/></td>
                                                                         <td>
                                                                        <input type="text" class="form-control" placeholder="Units" ng-model="orderDetail.Units" required/></td>
                                                                         <td>
                                                                        <input type="text" class="form-control" placeholder="Quantity" ng-model="orderDetail.Quantity" required/></td>
                                                                         <td>
                                                                        <input type="text" class="form-control" placeholder="Price" ng-model="orderDetail.Price" required/></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div class="form-group margin_right0">
                                                            
                                                            <button class="activeBtn btn pull-right" type="button" ng-click="projectInvoiceControllerScope.addNew()" >Add New</button><!-- 
                                                             <button ng-show="orderDetails.length > 0" class="defaultBtn btn pull-right margin_right5" type="button" ng-click="projectInvoiceControllerScope.remove()">Remove</button> -->

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="formfooterbtns">
                                        <button class="defaultBtn btn" type="button" ng-click="projectInvoiceControllerScope.decline()">Decline</button>
                                        <button class="activeBtn btn" type="button" ng-click="projectInvoiceControllerScope.addEmployee()" ng-disabled="projectInvoiceControllerScope.employeeForm.$invalid" ng-if="!projectInvoiceControllerScope.isUpdate">Save</button>
                                        <button class="activeBtn btn" type="button" ng-click="projectInvoiceControllerScope.editEmployee()" ng-disabled="projectInvoiceControllerScope.employeeForm.$invalid" ng-if="projectInvoiceControllerScope.isUpdate">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
           