

                <div class="rightContainer">
                    <div class="pageTitleParent">
                         <div class="row pageTitletextContainer">
                    	<div class="col-xs-12 padd0">
                        	<span class="cursor_pointer back_iconPosition">
                        	<i class="fa fa-angle-left" aria-hidden="true"></i>
                        	<i class="fa fa-angle-left margin_leftMinus5" aria-hidden="true"></i></span>
                        	<span class="page_titlePosition">Order Details</span>
                        </div>
                    	
                        </div>
                        
                        <div>
                            <div >
                                <div class="innerdivContainer red-icon create-employee border_bottom1" >
                                    <div class="row">
                                        <div class="input_section">
                                            <div class="text-right col-lg-12 col-xs-12 col-md-12 col-sm-12 padd0">
                                                <button class="activeBtn" type="button">Edit</button>
                                                <span ng-if="employeeControllerScope.ifEdit"><button class="defaultBtn mob-width-48 decline_hide" >Decline</button>
                                                <button class="activeBtn mob-width-48 decline_hide" >Update</button></span>
                                            </div>
                                            <div class="col-lg-1 padd0 responsive_textCenter responsive_textCenter responsivemargin_top10">
                                                <img src="images/lead_icon.png">
                                            </div>
                                            <div class="responsive_textCenter">
                                                <a href="#!viewOrder"><span class="anchor_text cursor_pointer" >sapta</span></a>
                                                <span class="pipe_text" ng-if="lead.statusName!=''">|</span>
                                                <span class="span_text">sapta</span>
                                            </div>
                                            <div class="col-lg-5 padd0">
                                                <div class="row">
                                                    <div class="">
                                                        <ul class="padd0 left_text">
                                                           <li class="row"><label class="col-xs-6 padd0">Opportunity Type</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">sapta</span></li>
                                                             
                                                             <li class="row"><label class="col-xs-6 padd0">Rate</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">123</span></li>
                                                             <li class="row"><label class="col-xs-6 padd0">Quantity</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">123</span></li>
                                                             <li class="row"><label class="col-xs-6 padd0">Payment Terms</label><span class="font_weight600 col-xs-6 padd0 wordBreak_all">Years</span></li>
                                                             
                                                        </ul>
                                                    </div>
                                                    <!-- <div class="col-lg-6 col-md-6 col-sm-7 col-xs-6 padd0 font_weight600">
                                                        <ul class="padd0">
                                                            <li>{{lead.name}}</li>
                                                            <li>{{lead.statusName}}</li>
                                                            <li>{{lead.source}}</li>
                                                            <li>{{lead.industryName}}</li>
                                                            <li>{{lead.mobile}}</li>
                                                        </ul>
                                                    </div> -->
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           