<div class="loader_backdrop" ng-if="warehouseControllerScope.getSpinner">
    <div class="loader loader_position"></div>
</div>

                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">Warehouse List</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="width100">
                                        <div class="customDropDown responsive_select col-lg-6 col-md-6 col-sm-6 col-xs-8 padd0">
                                            <select name="warehouseControllerScope.propertyType" class="select1 dropdown selectClass col-lg-4 col-md-4 col-sm-4 col-xs-12 text-left" >
                                                <option value="" selected="selected">Select Property Type</option>
                                                <option value="">All</option>
                                                <option value="{{property.id}}" ng-repeat="property in warehouseControllerScope.propertyList | orderBy:'name'" ng-if="property.status == 'a'">{{property.name}}</option>
                                            </select>
                                        </div>
                                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-4 padd0 text-right">
                                        <button class="glyphicon glyphicon-export action_btn" ng-click="warehouseControllerScope.exportData()"></button>
                                        <!-- <button class="glyphicon glyphicon-import action_btn margin_left0 margin_right0" ng-click="warehouseControllerScope.openImportPage()"></button>-->
                                        </span>
                                    </div>
                                    <div class="width100 ">
                                        <input type="text" ng-model="warehouseControllerScope.searchName" placeholder="Search Here" class="margin_top20 width100 resp_fontSize">
                                    </div>
                                </div>
                            </div>
                        </div>
						<div  ng-if="warehouseControllerScope.msg != ''">
							<p class="text-center grey_text padding15 padding_top0">{{warehouseControllerScope.msg}}</p>
						</div>
					
                        <div id="list-wrapper">
                            <div infinite-scroll="warehouseControllerScope.addMoreItems()" infinite-scroll-container="'#list-wrapper'" infinite-scroll-parent="true">
                                <div class="innerdivContainer red-icon create-employee border_bottom1" ng-repeat="warehouse in warehouseControllerScope.warehouseList | orderBy:'-id' | filter :  warehouseControllerScope.searchName | filter: {propertyType : warehouseControllerScope.propertyType} | limitTo : warehouseControllerScope.limitToShow ">
                            <div class="row">
                                <div class="input_section">
                                    <div class="col-lg-1 padd0 responsive_textCenter  responsive_textCenter responsivemargin_top10">
                                        <i class="fa fa-building-o img-60x60 img-views" aria-hidden="true"></i>
                                    </div>
                                    <div class="responsive_textCenter">
                                        <span class="anchor_text wordBreak_all" ng-click="warehouseControllerScope.gotoView(warehouse.id)">{{warehouse.name}}</span>
                                        <span class="pipe_text" ng-if="warehouse.wareHouseId !=''">|</span>
                                        <span class="span_text">{{warehouse.wareHouseId}}</span>
                                    </div>
                                    <div class="col-lg-6 padd0">
                                        <div class="row">
                                            <div class="">
                                                <ul class="padd0 left_text">
                                                    <li class="row"><label class="col-xs-6 padd0">Property Type</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{warehouse.propertyTypeName}}</span></li>
                                                    <li class="row"><label class="col-xs-6 padd0">Country</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{warehouse.countryName}}</span></li>
                                                    <li class="row"><label class="col-xs-6 padd0">City</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{warehouse.city}}</span></li>
                                                    <li class="row"><label class="col-xs-6 padd0">Address</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{warehouse.address}}</span></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 padd0">
                                        <div class="row">
                                            <div class="">
                                                <ul class="padd0 left_text">
                                                    <li class="row"><label class="col-xs-6 padd0">Storage Type</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{warehouse.storageTypeName}}</span></li>
                                                    <li class="row"><label class="col-xs-6 padd0">State</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{warehouse.stateName}}</span></li>
                                                    <li class="row"><label class="col-xs-6 padd0">Pincode</label> <span class="font_weight600 col-xs-6 padd0 wordBreak_all">{{warehouse.zip}}</span></li>
                                                 </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                     
                    </div>
                </div>
            